In [59]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/student-mat.csv', sep=';')

The goal is to predict the quality of the student. We will build a predictor based on the final grade (G3).
Becasue we are trying to find quality students. In this model we define a quality student as one who achieves a final grade of 15 or higher.

In [60]:
include = ['health', 'absences','age','G2','G3']
df.drop(columns=df.columns.difference(include), inplace=True)
df['qual_student'] = np.where(df['G3']>=15, 1, 0)
df.drop(columns='G3', inplace=True) # drop the G3 score

In [61]:
from sklearn.ensemble import RandomForestClassifier as rf
import sklearn
dependent_variable = 'qual_student'
x = df[df.columns.difference([dependent_variable])]
y = df[dependent_variable]
clf = rf(n_estimators = 1000)
clf.fit(x, y)

RandomForestClassifier(n_estimators=1000)

In [62]:
pred = clf.predict(x)
sklearn.metrics.f1_score(y, pred, average='binary')

0.9863013698630136

We get a much better f1 score!

In [52]:
df

     age  health  absences  G1  G2  qual_student
0     18       3         6   5   6             0
1     17       3         4   5   5             0
2     15       3        10   7   8             0
3     15       5         2  15  14             1
4     16       5         4   6  10             0
..   ...     ...       ...  ..  ..           ...
390   20       4        11   9   9             0
391   17       2         3  14  16             1
392   21       3         3  10   8             0
393   18       5         0  11  12             0
394   19       5         5   8   9             0

[395 rows x 6 columns]

In [50]:
import joblib
joblib.dump(clf, 'dockerfile/apps/improved_model.pkl')

['dockerfile/apps/improved_model.pkl']

In [54]:
query_df = pd.DataFrame({ 'age' : pd.Series(20) ,'health' : pd.Series(12) ,'absences' : pd.Series(10), 'G1' : pd.Series(9), 'G2' : pd.Series(11)})
pred = clf.predict(query_df)
pred

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/sklearn/base.py:488: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

array([0])